.visual {
    width: 100%;
    height: 900px;
    max-width: 1920px;
    margin: 0 auto;
    background-color: #000;
}

.visual .visual-wrap {
    width: 100%;
    height: 100%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.visual .intro-text {
    text-align: center;
}

.visual .intro-text h2 {
    font-family: var(--themafont);
    font-style: normal;
    font-weight: 700;
    font-size: clamp(45px, 10.42vw, 200px);
    line-height: 2;
    color: var(--subcolor);
    text-shadow: 10px 10px 10px rgba(255, 255, 255, 0.1);
}

.visual .intro-text p {
    font-family: var(--mainfont);
    font-style: normal;
    font-weight: 400;
    font-size: clamp(15px, 1.25vw, 24px);
    line-height: 1.5;
    word-break: keep-all;
    color: var(--subcolor);
}

.visual .rotate-animation {
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 550px;
    left: 43%;
}

.visual .rotate-animation span {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/icons/shape.png) no-repeat center / contain;
    filter: invert(1);
    animation: rotate 10s linear infinite;
}

/* ================================================= */

.aboutme {
    width: 100%;
    height: auto;
    min-height: 100vh;
    max-width: 1920px;
    margin: 200px auto;
}

.aboutme .aboutme-wrap {
    width: 100%;
    height: 100%;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 100px;
    position: relative;
}

.aboutme .title-wrap {
    flex-shrink: 1;
    width: 100%;
    max-width: 450px;
    height: auto;
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.aboutme .contents-wrap {
    flex-shrink: 1;
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 200px;
}

.aboutme .contents-wrap li {
    width: 100%;
    padding: 30px 0 0;
}

.aboutme .contents-wrap .question {
    padding: 0 0 15px;
    font-family: var(--mainfont);
    font-style: normal;
    font-weight: 400;
    font-size: clamp(13px, 0.78vw, 15px);
    color: #888;
    line-height: 1;
    border-bottom: 1px solid var(--subcolor);
}

.aboutme .contents-wrap .subject {
    margin-top: 15px;
    font-family: var(--themafont);
    font-style: normal;
    font-weight: 700;
    font-size: clamp(28px, 2.5vw, 48px);
    color: #191919;
    line-height: 1;
}

.aboutme .contents-wrap .desc {
    margin-top: 15px;
    font-family: var(--mainfont);
    font-style: normal;
    font-weight: 400;
    font-size: clamp(14px, 0.83vw, 16px);
    color: #666;
    line-height: 1.5;
}

.aboutme .contents-wrap .cta {
    margin-top: 15px;
}

/* ================================================= */

.keyword {
    width: 100%;
    height: auto;
    padding: 150px 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
    background-color: #000;
}

.keyword .title {
    text-align: center;
    color: var(--subcolor);
}

.keyword .keyword-wrap {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.keyword .keyword-wrap li {
    width: fit-content;
    padding: 10px 30px;
    border-radius: 20px;
    border: 1px solid #191919;
    font-family: var(--mainfont);
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: var(--themacolor);
    line-height: 1;
}

.keyword .keyword-wrap li:nth-child(1),
.keyword .keyword-wrap li:nth-child(3),
.keyword .keyword-wrap li:nth-child(5),
.keyword .keyword-wrap li:nth-child(7) {
    animation: floatUpDown 1s linear infinite;
}

.keyword .keyword-wrap li:nth-child(2),
.keyword .keyword-wrap li:nth-child(4),
.keyword .keyword-wrap li:nth-child(6) {
    animation: floatUpDownReverse 1s linear infinite;
}

/* ================================================= */

.work {
    width: 100%;
    height: auto;
    min-height: 100vh;
    max-width: 1920px;
    margin: 200px auto;
}

.work .work-wrap {
    width: 100%;
    height: 100%;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 100px;
    position: relative;
}

.work .title-wrap {
    flex-shrink: 1;
    width: 100%;
    max-width: 450px;
    height: auto;
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.work .figure-wrap {
    flex-shrink: 1;
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.work figure {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
    border-top: 1px solid var(--subcolor);
}

.work figure .thumbnail {
    order: 2;
    display: block;
    width: 200px;
    height: auto;
    aspect-ratio: 0.95 / 1;
    margin: 25px 50px 0 0;
    object-fit: cover;
}

.work figcaption {
    order: 1;
    width: calc(100% - 200px);
    height: auto;
    padding: 30px 0 0;
}

.work figcaption .project-name {
    font-family: var(--themafont);
    font-style: normal;
    font-weight: 700;
    font-size: clamp(28px, 2.5vw, 48px);
    color: #191919;
    line-height: 1;
}

.work figcaption .project-spec {
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.work figcaption .project-spec span {
    display: block;
    font-family: var(--mainfont);
    font-style: normal;
    font-weight: 400;
    font-size: clamp(13px, 0.78vw, 15px);
    color: #888;
    line-height: 1;
}

.work figcaption .library {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.work figcaption .library span {
    display: block;
    font-family: var(--mainfont);
    font-style: normal;
    font-weight: 400;
    font-size: clamp(13px, 0.78vw, 15px);
    color: #888;
    line-height: 1;
}

.work figcaption .desc {
    margin-top: 35px;
    font-family: var(--mainfont);
    font-style: normal;
    font-weight: 400;
    font-size: clamp(14px, 0.83vw, 16px);
    color: #666;
    line-height: 1.5;
}

.work figcaption .cta-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 35px;
}

.work figcaption .cta {
    margin-top: 35px;
}

.work figure:last-child figcaption .cta {
    margin-top: 0;
}

/* ================================================= */

@media (max-width: 1680px) {
.visual .rotate-animation {
    left: 50%;
    transform: translateX(-50%);
}

.aboutme .title-wrap {
    max-width: 350px;
}

.work .title-wrap {
    max-width: 350px;
}

.work figure .thumbnail {
    width: 150px;
    margin: 25px 0 0;
}

.work figcaption {
    width: calc(100% - 150px);
}

.work figcaption .project-spec {
    gap: 5px;
}

.work figcaption .library {
    gap: 5px;
}
}

/* ================================================= */

@media (max-width: 1024px) {
.visual .intro-text h2 {
    line-height: 1.5;
}

.aboutme .aboutme-wrap {
    flex-direction: column;
    justify-content: center;
}

.aboutme .title-wrap {
    width: 100%;
    position: static;
}

.aboutme .contents-wrap {
    width: 100%;
}

/* ================================================= */

.work .work-wrap {
    flex-direction: column;
    justify-content: center;
}

.work .work-wrap .title-wrap {
    width: 100%;
    position: static;
}

.work .figure-wrap {
    width: 100%;
}
}

/* ================================================= */

@media (max-width: 768px) {
.visual {
    height: auto;
    padding: 250px 0;
}

.visual .rotate-animation {
    bottom: 90%;
}

.work figure {
    flex-direction: column;
    gap: 0;
}

.work figure .thumbnail {
    order: 1;
}

.work figcaption {
    order: 2;
    width: 100%;
}
}
