.blue{
    color:#0890c0 !important;
}

.bold-blue{
    font-weight: 700 !important;
    color:#0890c0 !important;
}

.swiper-button-prev.round-shape {
    width: 50px;
    height: 150px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 2.5%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.swiper-button-prev.round-shape svg {
    position: absolute;
    top:0;
    left: 0;
    width: 50px;
    height: 150px;
}

.swiper-button-prev.round-shape path {
    stroke: #c9c9c9;
    stroke-width: 4;
    fill: transparent;
    transition: 0.6s;
    stroke-linecap: round;
}

.swiper-button-prev.round-shape:hover path {
    d: path("M 10 10 Q -20 65 10 140");
    transition: d 0.6s ease;
}

.swiper-button-prev.round-shape span {
    font-family: "Noto Sans KR", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #333;
    /* 90도 회전 */
    transform: translateX(20px) rotate(-90deg);
    /* 회전 중심 조절 */
    transform-origin: center center;
    padding: 10px;
    opacity: 0;
}

.swiper-button-next.round-shape {
    width: 50px;
    height: 150px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    right: 2.5%;
    transform: translate(50%, -50%);
    z-index: 10;
}

.swiper-button-next.round-shape svg {
    position: absolute;
    top:0;
    left: 0;
    width: 50px;
    height: 150px;
}

.swiper-button-next.round-shape path {
    stroke: #c9c9c9;
    stroke-width: 4;
    fill: transparent;
    transition: 0.6s;
    stroke-linecap: round;
}

.swiper-button-next.round-shape:hover path {
    d: path("M 10 10 Q 40 65 10 140");
    transition: d 0.6s ease;
}

.swiper-button-next.round-shape span {
    font-family: "Noto Sans KR", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #333;
    transform: translateX(-20px) rotate(90deg);
    transform-origin: center center;
    padding: 10px;
    opacity: 0;
}

.swiper-button-prev.round-shape span:hover,
.swiper-button-next.round-shape span:hover {
    opacity: 1;
}