/* ===c01, c02, c04 공통=== */

.brand-name {
    font-family: 'Pretendard', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 34px;
    color: #fff;
    text-shadow: 1px 2px 6px rgba(0, 0, 0, .15);
    position: absolute;
    top: 30px;
    left: 40px;
}

/* ===c02, c03 공통=== */

.tab-btn-box .txt-area button {
    display: block;
    margin: 0 auto;
    font-family: 'Pretendard', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: clamp(120px, 7.6vw, 146px);
    color: rgba(255, 255, 255, 0.5);
    background: transparent;
    transition: color 0.5s ease;
}

.tab-con-box .txt-box .brand-info br {
    display: none;
}

.tab-con-box .txt-box .brand-info li:nth-child(1) {
    font-family: 'Pretendard', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    color: #000;
    text-align: center;
}

.tab-con-box .txt-box .brand-info li:nth-child(2) {
    font-family: 'Pretendard', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.tab-con-box .custom-swiper-btn {
    width: 163px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 55px 0 0;
    border-radius: 2rem;
    background: #f5f5f5;
    position: relative;
}

.tab-con-box .custom-swiper-btn .swiper-pagination {
    width: fit-content;
    position: relative;
    top:auto;
    bottom:auto;
    font-family: 'Pretendard', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #000;
}

.tab-con-box .custom-swiper-btn .prev {
    width: 20px;
    height: 21px;
    background: url(../images/common/icon_prev.svg) no-repeat center / contain;
    cursor: pointer;
    z-index: 1;
}

.tab-con-box .custom-swiper-btn .next {
    width: 20px;
    height: 21px;
    background: url(../images/common/icon_next.svg) no-repeat center / contain;
    cursor: pointer;
    z-index: 1;
}

@media (max-width:1500px) and (min-width:1025px){
    .brand-name {
        left: 2vw;
        top: 1.5vw;
        font-size: clamp(20px, 2vw, 30px);
    }

    .tab-btn-box .txt-area button {
        font-size: clamp(86px, 8vw, 120px);
    }

    .tab-con-box .txt-box .brand-info br {
        display: block;
    }

    .tab-con-box .txt-box .brand-info li:nth-child(1) {
        font-size: clamp(34px, 2.94vw, 44px);
    }

    .tab-con-box .txt-box .brand-info li:nth-child(2) {
        font-size: clamp(14px, 1.2vw, 18px);
    }

    .tab-con-box .custom-swiper-btn {
        width: 9.67vw;
        height: 2.67vw;
        margin: 3.67vw 0 0;
    }

    .tab-con-box .custom-swiper-btn .swiper-pagination {
        font-size: clamp(14px, 1.2vw, 18px);
    }

    .tab-con-box .custom-swiper-btn .prev,
    .tab-con-box .custom-swiper-btn .next {
        width: 1.33vw;
        height: 1.4vw;
    }
}

@media (max-width:768px) {
    .brand-name {
        left: 2.5vw;
        top: 2vw;
        font-size: clamp(20px, 3.92vw, 30px);
    }

    .tab-btn-box .txt-area button {
        font-size: clamp(86px, 15.64vw, 120px);
    }

    .tab-con-box .txt-box .brand-info br {
        display: block;
    }

    .tab-con-box .txt-box .brand-info li:nth-child(1) {
        font-size: clamp(34px, 5.74vw, 44px);
    }

    .tab-con-box .txt-box .brand-info li:nth-child(2) {
        font-size: clamp(14px, 2.34vw, 18px);
    }

    .tab-con-box .custom-swiper-btn {
        width: 18.88vw;
        height: 5.22vw;
        margin: 7.16vw 0 0;
    }

    .tab-con-box .custom-swiper-btn .swiper-pagination {
        font-size: clamp(14px, 2.34vw, 18px);
    }

    .tab-con-box .custom-swiper-btn .prev,
    .tab-con-box .custom-swiper-btn .next {
        width: 2.6vw;
        height: 2.74vw;
    }
}

@media (max-width:500px) {
    .brand-name {
        left: 3vw;
        top: 2.5vw;
        font-size: clamp(20px, 6vw, 30px);
    }

    .tab-btn-box .txt-area button {
        font-size: clamp(36px, 13.2vw, 66px);
    }

    .tab-con-box .txt-box .brand-info br {
        display: block;
    }

    .tab-con-box .txt-box .brand-info li:nth-child(1) {
        font-size: clamp(24px, 6.8vw, 34px);
    }

    .tab-con-box .txt-box .brand-info li:nth-child(2) {
        font-size: clamp(12px, 2.8vw, 14px);
        word-break: keep-all;
    }

    .tab-con-box .custom-swiper-btn {
        width: 27vw;
        height: 7vw;
        margin: 7vw 0 0;
    }

    .tab-con-box .custom-swiper-btn .swiper-pagination {
        font-size: clamp(12px, 2.8vw, 14px);
    }

    .tab-con-box .custom-swiper-btn .prev,
    .tab-con-box .custom-swiper-btn .next {
        width: 3.6vw;
        height: 3.8vw;
    }
}