header {
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 50;
}

header .header-wrap {
    width: 100%;
    height: 100%;
    padding: 0 5%;
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    width: 40px;
    height: auto;
    aspect-ratio: 1 / 1;
}

header .logo a {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/icons/headphones.png) no-repeat center / contain;
    filter: invert(1);
}

header .header-nav ul {
    display: flex;
    gap: 60px;
}

header .header-nav ul li a {
    font-family: var(--mainfont);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    white-space: nowrap;
    color: var(--mainfontcolor);
    cursor: pointer;
    transition: color 0.3s ease;
}

header .header-nav ul li.active a {
    color: var(--maincolor);
}

header .header-nav ul li a:hover {
    color: var(--maincolor);
}

::selection {
    background-color: var(--maincolor);
    color: #191919;
}

::-moz-selection {
    background-color: var(--maincolor);
    color: #191919;
}

@media (max-width: 1024px) {
    header {
        height: 50px;
    }

    header .logo {
        width: 25px;
    }

    header .header-nav ul {
        gap: 10px;
    }

    header .header-nav ul li a {
        font-size: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header .header-nav ul li a span {
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.5);
        scale: 1;
        transition: scale 0.3s ease;
    }

    header .header-nav ul li.active a span {
    background-color: var(--maincolor);
    scale: 1.5;
}
}