
@font-face {
    font-family: 'JeonjuCraftMyungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/JeonjuCraftMjL.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'JeonjuCraftMyungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/JeonjuCraftMjB.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

.noto {
    font-family: 'Noto Sans KR', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

:root {
    --themafont: 'JeonjuCraftMyungjo', sans-serif;
    --mainfont: 'Noto Sans KR', sans-serif;
    --themacolor: #eeeae0;
    --maincolor: #F4C2C2;
    --subcolor: #bebbb3;
    --pointcolor: #E0115F;
}

.title {
    margin-bottom: 30px;
    font-family: var(--themafont);
    font-style: normal;
    font-weight: 700;
    font-size: clamp(34px, 3.33vw, 64px);
    color: #111;
    line-height: 1;
}

.title-desc {
    margin-bottom: 30px;
    font-family: var(--mainfont);
    font-style: normal;
    font-weight: 400;
    font-size: clamp(16px, 0.94vw, 18px);
    color: #666;
    line-height: 1.5;
    word-break: keep-all;
}

.title-desc span {
    font-weight: 500;
    color: #000;
    background-color: var(--maincolor);
}

.cta {
    display: block;
    width: fit-content;
    padding: 10px 30px;
    border-radius: 20px;
    border: 1px solid #191919;
    overflow: hidden;
    font-family: var(--mainfont);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #111;
    line-height: 1;
    text-align: center;
    position: relative;
    z-index: 1;
}

.cta::after {
    content: '';
    width: 0;
    height: 100%;
    background-color: #111;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s ease;
}

.cta:hover {
    color: #fff;
}

.cta:hover::after {
    width: 100%;
}

@keyframes rolling {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes floatUpDown {
    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

@keyframes floatUpDownReverse {
    0%,
    100% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(0);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 768px) {
.title-desc {
    word-break: break-all;
}
}