/* 메인 폰트 */
@font-face {
    font-family: 'Suit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Suit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Suit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Suit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Suit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Suit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Suit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Suit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Heavy.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}

/* 서브 폰트 */
.noto {
    font-family: 'Noto Sans KR';
    font-optical-sizing: auto;
    font-style: normal;
}

:root {
    --themabgcolor: #000;
    --maincolor: #F4C2C2;
    --subcolor: #E8C6CB;
    --pointcolor: #ff6ab4;

    --mainfontcolor: #ebebeb;
    --subfontcolor: #ccc;

    --mainfont: 'Suit', sans-serif;
    --subfont: 'Noto Sans KR', sans-serif;
}

.mycolor01 {
    background-color: #E0115F;
}

.mycolor02 {
    background-color: #CE74A7;
}

.mycolor03 {
    background-color: #DE5D83;
}

.mycolor04 {
    background-color: #C154C1;
}

.mycolor05 {
    background-color: #C0218A;
}

.mycolor06 {
    background-color: #A8516E;
}

@keyframes rolling {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes floatUpDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }
}

@keyframes bodyUpDown {
    0% {
        transform: translateY(10px);
        opacity: 1;
    }
    50% {
        transform: translateY(0);
        opacity: 0.2;
    }
    100% {
        transform: translateY(10px);
        opacity: 1;
    }
}

@keyframes wheelUpDown {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    50% {
        transform: translateY(10px);
        opacity: 1;
    }
    100% {
        transform: translateY(20px);
        opacity: 0;
    }
}

.rolling-wrap {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    display: flex;
    gap: 100px;
}

.rolling-slide {
    display: flex;
    gap: 100px;
    animation: rolling 100s linear infinite;
}

.rolling-slide p {
    font-family: var(--mainfont);
    font-style: normal;
    font-weight: 900;
    font-size: clamp(200px, 13.02vw, 250px);
    color: var(--subcolor);
    line-height: 1;
    white-space: nowrap;
}