/* 폰트 파일 */
    @font-face {
        font-family: 'JeonjuCraftMyungjo';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/JeonjuCraftMjL.woff2') format('woff2');
        font-weight: 300;
        font-display: swap;
    }
    @font-face {
        font-family: 'JeonjuCraftMyungjo';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/JeonjuCraftMjB.woff2') format('woff2');
        font-weight: 700;
        font-display: swap;
    }

/* 디자인 시스템 */
    :root {
    /* font family */
        --ff-brand: 'JeonjuCraftMyungjo', sans-serif;
        --ff-base: 'Noto Sans KR', sans-serif;
    /* font weight */
        --fw-black: 900;
        --fw-bold: 700;
        --fw-medium: 500;
        --fw-regular: 400;
    /* font size */
        --fs-typography-lg-fluid: clamp(100px, 10.42vw, 200px);
        --fs-typography-md-fluid: clamp(45px, 10.42vw, 200px);
        --fs-typography-sm-fluid: clamp(45px, 5.21vw, 100px);
        --fs-2xl-fluid: clamp(34px, 3.33vw, 64px);
        --fs-xl-fluid: clamp(28px, 2.5vw, 48px);
        --fs-lg-fluid: clamp(15px, 1.25vw, 24px);
        --fs-md: 18px;
        --fs-md-fluid: clamp(16px, 0.94vw, 18px);
        --fs-base: 16px;
        --fs-base-fluid: clamp(14px, 0.83vw, 16px);
        --fs-sm: 15px;
        --fs-sm-fluid: clamp(13px, 0.78vw, 15px);
    /* line height */
        --lh-lg: 2;
        --lh-md: 1.5;
        --lh-base: 1.2;
        --lh-sm: 1;
    /* color */
        --color-brand-primary: #eeeae0;
        --color-accent-primary: #E0115F;
        --color-accent-secondary: #F4C2C2;
        --color-gray-900: #000;
        --color-gray-800: #191919;
        --color-gray-600: #666;
        --color-gray-500: #888;
        --color-gray-300: #bebbb3;
        --color-gray-100: #fff;
        --color-anua: #c4f1ef;
    /* layout */
        --header-height: 80px;
        --page-width: 1828px;
        --page-space: 50px;
        --border-radius: 20px;
    /* spacing */
        --space-40: 200px;
        --space-36: 180px;
        --space-32: 160px;
        --space-28: 140px;
        --space-24: 120px;
        --space-20: 100px;
        --space-18: 90px;
        --space-16: 80px;
        --space-14: 70px;
        --space-12: 60px;
        --space-10: 50px;
        --space-9: 45px;
        --space-8: 40px;
        --space-7: 35px;
        --space-6: 30px;
        --space-5: 25px;
        --space-4: 20px;
        --space-3: 15px;
        --space-2: 10px;
        --space-1: 5px;
    }
@media (max-width: 768px) {
    :root {
        --header-height: 60px;
        --page-space: 20px;
    }
}