/* 애니메이션 */
    @keyframes rotate {
        0% {
            transform: rotate(0);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    @keyframes floatUpDown {
        0%,
        100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-10px);
        }
    }
    @keyframes floatUpDownReverse {
        0%,
        100% {
            transform: translateY(-10px);
        }
        50% {
            transform: translateY(0);
        }
    }
    @keyframes rolling {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-50%);
        }
    }


/* 공통 컴포넌트 */
    .section__inner {
        max-width: var(--page-width);
        padding-inline: var(--page-space);
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }

    .section-header__subtitle {
        display: inline-block;
        margin-bottom: var(--space-3);
    }

    .section-header__title {
        margin-bottom: var(--space-6);
        font-family: var(--ff-brand);
        font-weight: var(--fw-bold);
        font-size: var(--fs-2xl-fluid);
        line-height: var(--lh-sm);
        color: var(--color-gray-800);
    }

    .section-header__description {
        margin-bottom: var(--space-6);
        font-family: var(--ff-base);
        font-weight: var(--fw-regular);
        font-size: var(--fs-md-fluid);
        line-height: var(--lh-md);
        color: var(--color-gray-600);
        word-break: keep-all;
    }
    @media (max-width: 768px) {
        .section-header__description {
            word-break: break-all;
        }
    }

    .section-content__subtitle {
        font-family: var(--ff-base);
        font-weight: var(--fw-regular);
        font-size: var(--fs-sm-fluid);
        line-height: var(--lh-sm);
        color: var(--color-gray-500);
    }

    .section-content__title {
        font-family: var(--ff-brand);
        font-weight: var(--fw-bold);
        font-size: var(--fs-xl-fluid);
        line-height: var(--lh-sm);
        color: var(--color-gray-800);
    }

    .section-content__summary {
        font-family: var(--ff-base);
        font-weight: var(--fw-regular);
        font-size: var(--fs-sm-fluid);
        line-height: var(--lh-md);
        color: var(--color-gray-500);
    }

    .section-content__description {
        font-family: var(--ff-base);
        font-weight: var(--fw-regular);
        font-size: var(--fs-base-fluid);
        line-height: var(--lh-md);
        color: var(--color-gray-600);
        word-break: keep-all;
    }
    @media (max-width: 768px) {
        .section-content__description {
            word-break: break-all;
        }
    }

    .mark {
        font-family: var(--ff-base);
        font-weight: var(--fw-bold);
        font-size: var(--fs-md-fluid);
        line-height: var(--lh-md);
        color: var(--color-gray-900);
        background-color: var(--color-accent-secondary);
    }

    .cta-wrap {
        margin-top: var(--space-4);
        display: flex;
        flex-wrap: wrap;
        gap: var(--space-2);
    }
    .cta {
        margin-top: var(--space-4);
        padding: var(--space-2) var(--space-6);
        display: block;
        width: fit-content;
        position: relative;
        z-index: 20;
        overflow: hidden;
        border-radius: var(--border-radius);
        border: 1px solid var(--color-gray-900);
        font-family: var(--ff-base);
        font-weight: var(--fw-regular);
        font-size: var(--fs-base);
        line-height: var(--lh-sm);
        color: var(--color-gray-900);
        text-align: center;
    }
    .cta::after {
        content: '';
        width: 0;
        height: 100%;
        background-color: var(--color-gray-900);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s ease;
    }
    .cta:hover {
        color: var(--color-gray-100);
    }
    .cta:hover::after {
        width: 100%;
    }
    .cta-wrap .cta {
        margin-top: 0;
    }

    .swiper-pagination-bullet-active {
        background-color: var(--color-gray-900);
    }

    .rotate {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .rotate__icon {
        display: block;
        width: 0.25em;
        height: 0.25em;
        background: url(../images/icons/favicon.png) no-repeat center / contain;
        filter: invert(1);
        animation: rotate 10s linear infinite;
    }
    .rotate.mobile-only {
        display: none;
    }
    @media (max-width: 1024px) {
        .rotate.pc-only .rotate__icon {
            display: none;
        }

        .rotate.mobile-only {
            display: block;
            margin-bottom: var(--space-4);
        }

        .rotate.mobile-only .rotate__icon {
            width: 50px;
            height: 50px;
        }
    }

    .rolling {
        padding-block: var(--space-10);
        display: flex;
        width: max-content;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        animation: rolling 180s linear infinite;
    }
    .rolling__slide {
        display: flex;
        gap: var(--space-10);
    }
    .rolling__text {
        display: block;
        font-family: var(--ff-brand);
        font-weight: var(--fw-bold);
        font-size: var(--fs-typography-lg-fluid);
        line-height: var(--lh-sm);
        color: var(--color-gray-800);
    }


