/* header, mobile-nav, visual, footer, contact */

/* header */
    .header {
        width: 100%;
        height: var(--header-height-pc);
        position: relative;
        top: 0;
        z-index: 10;
        background-color: transparent;
        transition:
        transform 0.3s ease,
        background-color 0.3s ease;
    }
    /* 스크롤 올릴 때(상단 노출) */
    .header.is-fixed {
        position: fixed;
        top: 0;
        background-color: var(--color-black-primary);
    }
    /* 스크롤 내릴 때(숨김) */
    .header.is-hidden {
        transform: translateY(-100%);
    }
    .header__inner {
        max-width: var(--header-footer-max-width-pc);
        padding-inline: var(--padding-inline-common);
        margin: 0 auto;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header__mobile-nav-toggle {
        display: none;
    }

    .header__logo-link {
        display: block;
        width: 175px;
        height: 35px;
    }
    .header__logo-img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .header__nav-list {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header__nav-link {
        display: block;
        padding-inline: 15px;
        font-family: var(--ff-english);
        font-weight: var(--fw-medium);
        font-size: var(--fs-ui-base);
        line-height: var(--header-height-pc);
        color: var(--color-white-primary);
        opacity: 1;
        transition: opacity var(--animate-ui);
    }
    .header__nav-link:hover {
        opacity: 0.5;
    }

    .header__locale-link {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        font-family: var(--ff-english);
        font-weight: var(--fw-medium);
        font-size: var(--fs-ui-base-fluid);
        line-height: var(--lh-base);
        color: var(--color-white-primary);
        transition: color var(--animate-ui);
    }
    .header__locale-link:hover {
        color: var(--color-brand-primary);
    }
    @media (max-width: 1024px) {
        .header__inner {
            justify-content: flex-start;
        }
        .header__mobile-nav-toggle {
            display: block;
            margin-right: 16px;
            background-color: transparent;
        }
        .header__logo-link {
            width: 135px;
            height: 27px;
        }
        .header__nav {
            display: none;
        }
        .header__locale {
            margin-left: auto;
        }
    }

/* mobile-nav */
    .mobile-nav-overlay {
        pointer-events: none;
        width: 100vw;
        height: 100vh;
        position: fixed;
        inset: 0;
        z-index: 11;
        opacity: 0;
        transition: opacity 0.3s ease;
        background-color: rgba(0, 0, 0, 0.8);
    }
    .mobile-nav-overlay.is-active {
        opacity: 0.7;
    }
    .mobile-nav {
        display: none;
        max-width: 768px;
        width: 100vw;
        height: 100vh;
        position: fixed;
        inset: 0;
        z-index: 12;
        transform: translateX(-100vw);
        transition: transform 0.3s ease;
        background-color: var(--color-black-primary);
    }
    .mobile-nav.is-active {
        transform: translateX(0);
    }
    .mobile-nav__inner {
        padding-inline: var(--padding-inline-common);
    }
    .mobile-nav__header {
        padding-block: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .mobile-nav__logo-link {
        display: block;
        width: 135px;
        height: 27px;
    }
    .mobile-nav__logo-img {
        display: block;
        width: 100%;
        height: 100%;
    }
    .mobile-nav-close {
        background-color: transparent;
    }
    .mobile__nav-item + .mobile__nav-item {
        border-top: 1px solid var(--color-gray-900);
    }
    .mobile__nav-link {
        display: block;
        padding-block: 20px;
        font-family: var(--ff-english);
        font-weight: var(--fw-regular);
        font-size: var(--fs-ui-md);
        line-height: var(--lh-md);
        color: var(--color-white-primary);
    }
    @media (max-width: 1024px) {
        .mobile-nav {
            display: block;
        }
    }

/* visual */
    .visual {
        width: 100%;
        height: 100vh;
        margin-top: calc(-1 * var(--header-height-pc));
    }
    .visual__inner {
        width: 100%;
        height: 100%;
        position: relative;
    }
    .visual__media {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 1;
    }
    .page-index .visual__media::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .visual__media video,
    .visual__media img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .visual__text {
        max-width: var(--content-max-width-pc);
        padding-inline: var(--padding-inline-common);
        width: 100%;
        position: absolute;
        z-index: 2;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .page-index .visual__text {
        align-items: center;
    }
    .visual__text-subheading {
        margin-bottom: 12px;
        font-family: var(--ff-english);
        font-weight: var(--fw-medium);
        font-size: var(--fs-hero-sm-fluid);
        line-height: var(--lh-sm);
        color: var(--color-brand-primary);
    }
    .visual__text-heading {
        font-family: var(--ff-korean);
        font-weight: var(--fw-regular);
        font-size: var(--fs-hero-lg-fluid);
        line-height: var(--lh-sm);
        color: var(--color-white-primary);
    }
    .page-index .visual__text-heading {
        text-align: center;
    }
    .visual__text-body {
        margin-block: 36px 60px;
        font-family: var(--ff-korean);
        font-weight: var(--fw-regular);
        font-size: var(--fs-hero-sm-fluid);
        line-height: var(--lh-md);
        color: var(--color-gray-300);
    }
    .page-index .visual__text-body {
        color: var(--color-white-primary);
    }
    .page-index .visual .mo-br {
        display: none;
    }
    @media (max-width: 1024px) {
        .page-index .visual .mo-br {
            display: block;
        }
    }

/* footer */
    .footer {
        width: 100%;
        height: auto;
        background-color: var(--color-black-primary);
    }
    .footer__inner {
        max-width: var(--header-footer-max-width-pc);
        padding-inline: var(--padding-inline-common);
        margin: 0 auto;
        padding-block: 80px;
        display: flex;
        justify-content: space-between;
        align-items: last baseline;
        gap: 50px;
    }
    .footer__left {
        max-width: 720px;
        flex: 1;
    }

    .footer__logo {
        width: 250px;
        height: 50px;
    }
    .footer__logo-link {
        display: block;
        width: 100%;
        height: 100%;
    }
    .footer__logo-img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .footer__policy {
        margin-block: 44px 12px;
        display: flex;
        column-gap: 20px;
        row-gap: 5px;
        flex-wrap: wrap;
    }
    .footer__policy-link {
        display: block;
        padding-block: 5px;
        font-family: var(--ff-korean);
        font-weight: var(--fw-medium);
        font-size: var(--fs-ui-base);
        line-height: var(--lh-base);
        color: var(--color-white-primary);
        opacity: 1;
        transition: opacity var(--animate-ui);
    }
    .footer__policy-link:hover {
        opacity: 0.5;
    }

    .footer__info {
        /* 글자높이로 인한 최하단 여백 맞추기위해 */
        margin-bottom: -10px;
        display: flex;
        column-gap: 20px;
        flex-wrap: wrap;
    }
    .footer__info-label {
        margin-right: 8px;
        font-family: var(--ff-korean);
        font-weight: var(--fw-regular);
        font-size: var(--fs-body-base-fluid);
        line-height: var(--lh-xl);
        color: var(--color-gray-700);
    }
    .footer__info-label--highlight {
        margin-right: 0;
        color: var(--color-white-primary);
    }
    .footer__info-desc {
        font-family: var(--ff-korean);
        font-weight: var(--fw-regular);
        font-size: var(--fs-body-sm);
        line-height: var(--lh-xl);
        color: var(--color-gray-500);
        word-break: keep-all;
        vertical-align: baseline;
    }

    .footer__sns {
        margin-bottom: 12px;
        margin-inline: -8px;
        display: flex;
        justify-content: right;
    }
    .footer__sns-item {
        width: 44px;
        height: 44px;
        opacity: 1;
        transition: opacity var(--animate-ui);
    }
    .footer__sns-item:hover {
        opacity: 0.5;
    }
    .footer__sns-link {
        display: block;
        padding: 8px;
    }
    .footer__sns-icon {
        display: block;
        width: 28px;
        height: 28px;
        object-fit: contain;
    }

    .footer__copyright-text {
        font-family: var(--ff-korean);
        font-weight: var(--fw-regular);
        font-size: var(--fs-body-sm);
        line-height: var(--lh-base);
        color: var(--color-white-primary);
    }
    @media (max-width: 1024px) {
        .footer__inner {
            flex-direction: column;
            align-items: flex-start;
        }
        .footer__logo {
            width: 135px;
            height: 27px;
        }
        .footer__sns {
            margin-top: 44px;
            justify-content: left;
        }
    }

/* contact */
    .contact {
        width: 100%;
        height: 480px;
    }
    .contact__inner {
        width: 100%;
        height: 100%;
        position: relative;
    }
    .contact__media {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 1;
        background: url(/images/common/contact_banner.webp) no-repeat center center / cover;
    }
    .contact__text {
        max-width: var(--content-max-width-pc);
        padding-inline: var(--padding-inline-common);
        width: 100%;
        position: absolute;
        z-index: 2;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contact__text-heading {
        font-family: var(--ff-korean);
        font-weight: var(--fw-bold);
        font-size: var(--fs-heading-fluid);
        line-height: var(--lh-sm);
        color: var(--color-white-primary);
        text-align: center;
        word-break: keep-all;
    }
    .contact__text-body {
        margin-block: 12px 40px;
        font-family: var(--ff-korean);
        font-weight: var(--fw-regular);
        font-size: var(--fs-body-md-fluid);
        line-height: var(--lh-md);
        color: var(--color-gray-300);
        word-break: keep-all;
    }
    @media (max-width: 768px) {
        .contact__media {
            background: url(/images/common/contact_banner_mo.webp) no-repeat center center / cover;
        }
    }