.cta {
    width: fit-content;
    height: 45px;
    padding-inline: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: var(--ff-english);
    font-weight: var(--fw-medium);
    font-size: var(--fs-ui-base);
    line-height: var(--lh-base);
    color: var(--color-white-primary);
    background-color: transparent;
    border: 1px solid var(--color-white-primary);
    transition: color var(--animate-cta), background-color var(--animate-cta);
}
.cta:hover {
    color: var(--color-black-primary);
    background-color: var(--color-white-primary);
}
.cta svg {
    transform: translateX(0);
    transition: transform var(--animate-cta);
}
.cta:hover svg {
    transform: translateX(4px);
}

@keyframes fadeUpScale {
    0% {
        transform: scale(.33);
    }
    100% {
        opacity: 0;
    }
}

