:root {
/* font-family */
    --ff-english: 'Zalando Sans', -apple-system, BlinkMacSystemFont, sans-serif;
    --ff-korean: 'Pretendard', -apple-system, BlinkMacSystemFont, sans-serif;

/* font-weight */
    --fw-bold: 700;
    --fw-medium: 500;
    --fw-regular: 400;
    --fw-light: 300;

/* font-size */
    --fs-ui-md: 18px;
    --fs-ui-base: 16px;
    --fs-ui-base-fluid: clamp(14px, 2vw, 16px);
    --fs-hero-lg-fluid: clamp(24px, 3.4vw, 44px);
    --fs-hero-sm-fluid: clamp(16px, 1.3vw, 18px);
    --fs-heading-fluid: clamp(24px, 2.5vw, 32px);
    --fs-subheading-fluid: clamp(16px, 1.3vw, 18px);
    --fs-body-xxl-fluid: clamp(40px, 2.71vw, 52px);
    --fs-body-xl-fluid: clamp(20px, 1.7vw, 24px);
    --fs-body-lg-fluid: clamp(16px, 1.2vw, 20px);
    --fs-body-md: 18px;
    --fs-body-md-fluid: clamp(16px, 1.3vw, 18px);
    --fs-body-base: 16px;
    --fs-body-base-fluid: clamp(14px, 2vw, 16px);
    --fs-body-sm: 14px;

/* line-height */
    --lh-xl: 2;
    --lh-lg: 1.8;
    --lh-md: 1.5;
    --lh-sm: 1.4;
    --lh-base: 1.2;

/* color */
    --color-brand-primary: #00a3c9;
    --color-black-primary: #151414;
    --color-white-primary: #fff;
    --color-gray-900: #252323;
    --color-gray-700: #5a5d65;
    --color-gray-500: #797c87;
    --color-gray-300: #d9d9d9;
    --color-gray-100: #f4f4f5;

/* layout */
    --header-footer-max-width-pc: 1700px;
    --content-max-width-pc: 1280px;
    --padding-inline-common: 20px;
    --header-height-pc: 100px;
    --header-height-mo: 70px;

/* animate */
    --animate-ui: 0.1s ease;
    --animate-cta: 0.3s ease;
    --animate-card: 0.3s ease;
}
